{{#if resume.awards.length}}
<section id="awards">
	<h2 class="xfa-icon">{{label-lookup "Awards"}}</h2>
	{{#each resume.awards}}
	<div class="item">
		{{#if (or title date)}}
		<div class="item-head">
			<h3 class="title part">{{title}}</h3>
			<div class="date part">{{year-month date}}</div>
		</div>
		{{/if}}
		{{#if awarder}}
		<div class="item-head">
			<div class="awarder part">{{awarder}}</div>
			<div class="part"></div>
		</div>
		{{/if}}
		{{#if summary}}
		<div class="summary">
			<p>{{summary}}</p>
		</div>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}
