{{#resume.basics}}
	<h1>{{name}}</h1>
  {{#if pronouns}}
    <div id="pronouns">({{pronouns}})</div>
  {{/if}}
  {{#if image}}
      <img class="headshot" src="{{image}}" alt="photo of {{name}}"/>
  {{/if}}
	<h2>{{label}}</h2>
	<section id="basics">
		<div class="contact">
		{{#if website}}
		<div class="website xfa-icon">
			<strong>{{label-lookup "Website"}}</strong>
			{{website}}
		</div>
		{{/if}}
		{{#if email}}
		<div class="email xfa-icon">
			{{email}}
		</div>
		{{/if}}
		{{#if phone}}
		<div class="phone xfa-icon">
			{{phone}}
		</div>
		{{/if}}
		</div>
		{{#location}}
		<section id="location">
			<div class="xfa-icon">{{#if address}}<span class="address">{{address}}</span>{{/if}}
			{{#if city}}<span class="city">{{city}}</span>{{/if}}
            {{#if region}}<span class="region">{{region}}</span>{{/if}}
            {{#if postalCode}}<span class="postal">{{postalCode}}</span>{{/if}}
            {{#if countryCode}}<span class="country">{{countryCode}}</span>{{/if}}</div>
		</section>
		{{/location}}
		{{#if profiles.length}}
		<section id="profiles">
      <ul>
			{{#each profiles}}
        <li>
          <span class="network">
              {{#if network}}
                  {{icon-network network}} {{network}}
              {{/if}}
          </span>
          <span class="network-uid">
            {{#if username}}
              {{#if url}}
                  <a href="{{url}}">{{username}}</a>
              {{else}}
                  {{username}}
              {{/if}}
            {{/if}}
          </span>
        </li>
			{{/each}}
      </ul>
		</section>
		{{/if}}
	</section>
{{/resume.basics}}
