{{#if resume.education.length}}
<section id="education">
	<h2 class="xfa-icon">{{label-lookup "Education"}}</h2>
	{{#each resume.education}}
	<div class="item">
		{{#if institution}}
		<h4 class="institution part">{{institution}}</h4>
		{{/if}}
		{{#if (or studyType area)}}
		<div class="item-head">
	    	<div class="studyType part">{{studyType}}</div>
			<div class="area part">{{area}}</div>
		</div>
		{{/if}}
		{{#if (or (raw score) startDate endDate)}}
		<div class="item-head">
			<div class="gpa part">
				{{#if (raw score)}}{{label-lookup "GPA"}}: {{score}}{{/if}}
			</div>
			<div class="date part">{{> datespan}}</div>
		</div>
		{{/if}}
		{{#if courses.length}}
		<ul class="courses">
			{{#each courses}}
			<li>{{.}}</li>
			{{/each}}
		</ul>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}
