{{#if resume.publications.length}}
<section id="publications">
	<h2 class="xfa-icon">{{label-lookup "Publications"}}</h2>
	{{#each resume.publications}}
	<div class="item">
		{{#if (or name releaseDate)}}
		<div class="item-head">
			<h3 class="name part">{{name}}</h3>
			<div class="releaseDate part">{{year-month-day releaseDate}}</div>
		</div>
		{{/if}}
		{{#if publisher}}
		<div class="item-head">
			<div class="publisher part">{{publisher}}</div>
			<div class="part"></div>
		</div>
		{{/if}}
		{{#if website}}
		<div class="website">
			<a href="{{website}}">Link</a>
		</div>
		{{/if}}
		{{#if summary}}
		<div class="summary">
			<p>{{summary}}</p>
		</div>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}