{{#if resume.volunteer.length}}
<section id="volunteer">
	  <h2 class="xfa-icon">{{label-lookup "Volunteer"}}</h2>
	{{#each resume.volunteer}}
	<div class="item">
		{{#if (or organization date)}}
		<div class="item-head">
			<h3 class="company part">{{organization}}</h3>
			<div class="date part">{{> datespan}}</div>
		</div>
		{{/if}}
		{{#if position}}
		<div class="item-head">
			<div class="position part">{{position}}</div>
			<div class="part"></div>
		</div>
		{{/if}}
		{{#if website}}
		<div class="website">
			<a href="{{website}}">{{website}}</a>
		</div>
		{{/if}}
		{{#if summary}}
		<div class="summary">
			<p>{{summary}}</p>
		</div>
		{{/if}}
		{{#if highlights.length}}
		<ul class="highlights">
			{{#each highlights}}
			<li>{{.}}</li>
			{{/each}}
		</ul>
		{{/if}}
		{{#if keywords.length}}
		    <ul class="keywords">
			      {{#each keywords}}
			          <li>{{.}}</li>
			      {{/each}}
		    </ul>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}
